name: debian-cd
cron: "57 3 * * *"
storageDir: /srv/mirror/www/debian-cd
image: ustcmirror/rsync:latest
logRotCycle: 5
retry: 1
envs:
  RSYNC_HOST: rsync.mirrors.ustc.edu.cn
  RSYNC_PATH: debian-cd/
  RSYNC_EXCLUDE: --exclude=.~tmp~/
  RSYNC_MAXDELETE: "20000"
  $UPSTREAM: rsync://rsync.mirrors.ustc.edu.cn/debian-cd/
