<div id="footer">
    <div id="footercontent">
        <div id="footerleft">
            <p>{{ site.title }}由 <a href="{{ site["about-url"] }}">{{ site.support }}</a> 提供支持。</p>
            <p>{{ site.domain }} 面向校内外用户提供开源软件镜像服务，适用于 Linux 发行版、开发工具链和常用软件包的下载与更新。</p>
            <p>{{ site["footer-note"] }}</p>
            <p>源代码：<a href="{{ site["source-url"] }}">镜像站主页</a> <a href="{{ site["sync-manager-url"] }}">镜像管理器</a> <a href="{{ site["sync-images-url"] }}">镜像同步容器</a></p>
        </div>
        <div id="footerright">
            <img src="{{ site["logo-url"] }}" alt="{{ site.brand }}">
            <p>{{ site.brand }}</p>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
