<div id="header">
    <ul id="headlinks">
        <li><a href="{{ site["status-url"] }}" target="_blank">Status</a></li>
        {% if site["news-url"] %}<li><a href="{{ site["news-url"] }}" target="_blank">News</a></li>{% endif %}
        <li><a href="{{ site["help-url"] }}" target="_blank">Help</a></li>
        <li><a href="{{ site["about-url"] }}" target="_blank">About</a></li>
    </ul>
</div>
<div id="welcome">
    <div id="intro">
        <div id="brandline">
            <img src="/static/img/njxzu-mirrors.svg" alt="{{ site.brand }}">
            <h1 id="infinity">{{ site["hero-title"] }}</h1>
        </div>
        <h2>{{ site["hero-subtitle"] }}</h2>
        <p>{{ site["hero-description"] }}</p>
        <br>
    </div>
</div>
